*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.con{
    padding: 1rem;
    background-color: #4070f4;
}

.link{
    text-decoration: none;
    color: white;
}
.links{
    display: flex;
    justify-content: space-between;
    gap: 1.4rem;
}
.account{
    display: flex;
    gap: 1.4rem;
}

.btn{
    background-color: white;
    color: #4070f4;
    outline: none;
    padding: 0.4rem 1rem;
    border: none;
    font-weight: 600;
    border-radius: 1rem;
    cursor: pointer;
}